<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @instrumento.titulo %></h1>

      <ul class="pv1">
        <% if @instrumento.marca? %>
        <li class="inline-block pr3"><%= @instrumento.marca %></li>
        <% end %>

        <li class="inline-block pr3"><%= @instrumento.modelo %></li>

        <% if @instrumento.condicao? %>
        <li class="inline-block pr3"><%= @instrumento.condicao %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <% if @instrumento.imagem_url %>
           <%= image_tag @instrumento.imagem_url %>
        <%end%>
      </div>

      

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Descricao</h3>
      <%= @instrumento.descricao %>


      <h3 class="subtitle is-4 pt5">Especificação do Produto</h3>

      <table class="table is-narrow">
        <% if @instrumento.condicao %>
        <tr>
          <td class="has-text-weight-bold">Condição:</td>
          <td><%= @instrumento.condicao %></td>
        </tr>
        <% end %>

        <% if @instrumento.marca %>
          <tr>
            <td class="has-text-weight-bold">Marca:</td>
            <td><%= @instrumento.marca %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Modelo:</td>
          <td><%= @instrumento.modelo %></td>
        </tr>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@instrumento.preco) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @instrumento.user.name %></p>
        <%= button_to'Adicione ao Carrinho', line_items_path(instrument_id: @instrumento.id), class: 'button is-warning add-to-cart' %>
      </div>
    </div>
  </div>

  <% if instrumento_author(@instrumento) %>
    <%= link_to 'Editar', edit_instrumento_path(@instrumento), class: 'button' %>
    <%= link_to 'Deletar', @instrumento.destroy, method: :delete, data: { confirm: "Você tem certeza?" }, class: "button" %>
  <% end %>
</section>
